.thx {
  position: fixed;
  right: 5%;
  transform: translateX(-50%);
  bottom: 5%;
  font-size: large;
  font-weight: bold;
  color: rgb(8, 8, 8);
}
.tableBeers {
  padding: 20px;
  margin-left: 40%;
  margin-top: 8%;
  margin-right: 5%;
}

.grades {
  color: rgb(35, 34, 34);
  text-align: left;
}
